<!-- {{ movies$ | async | json }} -->
<a
  [routerLink]="['/add-form']"
  routerLinkActive="active"
  ariaCurrentWhenActive="page"
> add movie</a>

 <div *ngFor="let movie of movies$ | async">
  <div class="max-w-sm w-full lg:max-w-full lg:flex bg-blue-300">
    <div
      class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
      style="background-image: url('{{ movie.poster }}')"
      title="Woman holding a mug"
    ></div>
    <div
      class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <div class="mb-8">
        <div class="text-gray-900 font-bold text-xl mb-2">
          <a
            [routerLink]="['/details', movie.imdbId]"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            {{ movie.movieName }}</a
          >
        </div>
      </div>
      <div class="flex items-center">
        <img
          class="w-10 h-10 rounded-full mr-4"
          [src]="movie.poster"
          [alt]="movie.movieName"
        />
        <div class="text-sm">
          <p class="text-gray-600">{{ movie.year }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
